<div id="follow-icons">
	<a href="http://vk.com/id9295389"><i class="fa fa-vk fa-2x"></i></a>&nbsp;
	<a href="http://twitter.com/artem_krutov"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;
	<a href="http://linkedin.com/in/artemkrutov"><i class="fa fa-linkedin fa-2x"></i></a>&nbsp;
	<a href="mailto:artem.krutov1@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
</div>                                                                  
