{{#foreach navigation}}
  <h5><a href="{{url absolute='true'}}">{{label}}</a></h5>
{{/foreach}}

<br/>

<h4>Содержание</h4>
{{#get "posts" limit="all" include="url,title"}}
	{{#foreach posts}}
	  <h5><a href="{{url absolute='true'}}">{{title}}</a></h5>
	{{/foreach}}
{{/get}}